.brand-title {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;  
}
.brand-item {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.brand-icon {
    height: 40px;
    width: 40px;
}
.brand-text {
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 16px;
}
.brand-guide {
    position: fixed;
    top: 50px;
    right: 20px;
}
.brand-guide-item {
    font-size: 16px;
    line-height: 30px;
    color: #000;
}