body {
    background: #efefef;
}
.detail-body {
    padding: 8px;
}
.detail-box {
    margin-bottom: 10px;
}
.detail-title {
    justify-content: center;
}
.detail-title-c {
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-align: center;
    font-size: 14px;
}
.detail-title-l {
    width:0;
    height:0;
    border-top: 30px solid #0c60a2;
    border-left: 15px solid transparent;
    margin-right: -1px;
}
.detail-title-r {
    width:0;
    height:0;
    border-top: 30px solid #0c60a2;
    border-right: 15px solid transparent;
    margin-left: -1px;
}
.detail-list {
    padding: 8px;
}
.detail-list * {
    font-size: 12px;
    line-height: 25px;
}
.detail-btn {
    padding: 15px 0;
    margin-bottom: 50px;
    text-align: center;
}